#features .grid2col .wifi-sync { background-image:url(/web/20111012200427im_/http://www.apple.com/ios/images/wifi_sync.jpg); }
/*
     FILE ARCHIVED ON 20:04:27 Oct 12, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:26:57 Jul 31, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.715
  exclusion.robots: 0.028
  exclusion.robots.policy: 0.013
  esindex: 0.012
  cdx.remote: 15.646
  LoadShardBlock: 481.085 (3)
  PetaboxLoader3.datanode: 536.051 (5)
  load_resource: 122.706 (2)
  PetaboxLoader3.resolve: 49.162
*/