/* Cover Flow */

:root {
  --cover-size: 400px;
}

@keyframes rotate-cover {
  from {
    transform: scale(0.75);
    opacity: 0.6;
    z-index: 1;
  }
  35% {
    transform: scale(0.85);
    opacity: 0.8;
  }
  50% {
    transform: scale(1);
    opacity: 1;
    z-index: 100;
  }
  65% {
    transform: scale(0.85);
    opacity: 0.8;
  }
  to {
    transform: scale(0.75);
    opacity: 0.6;
    z-index: 1;
  }
}

.coverflow-wrapper {
  height: 100%;
  width: 100%;
  background: white;
  perspective: 40em;
}

.cards {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-inline: 50vw;
  overflow-x: auto;
  overflow-y: hidden;
  overscroll-behavior-x: none;
  scroll-snap-type: x mandatory;
  transform-style: preserve-3d;
  scrollbar-width: none;
}

.cards::-webkit-scrollbar {
  display: none;
}

.cards li {
  flex: 0 0 auto;
  scroll-snap-align: center;
  transform-style: preserve-3d;
  will-change: transform;

  view-timeline: --li-in-and-out-of-view inline;

  animation: rotate-cover linear both;
  animation-timeline: --li-in-and-out-of-view;
}

.cards li .card-link {
  display: block;
  text-decoration: none;
}

.cards li .card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
}

.cards li img {
  display: block;
  width: auto;
  height: var(--cover-size);
  object-fit: contain;
  border-radius: 8px;
  user-select: none;
  -webkit-box-reflect: below 0.3em linear-gradient(rgba(0,0,0,0.08), transparent 20%);
}

.cards li .card-link,
.cards li .card-container {
  line-height: 0;
}

.cards li img.img-small {
  height: calc(var(--cover-size) * 0.7);
}

.cards li img.img-medium {
  height: calc(var(--cover-size) * 1.1);
}

.cards li img.img-large {
  height: calc(var(--cover-size) * 1.3);
}

.cards li img.img-xlarge {
  height: calc(var(--cover-size) * 1.6);
}

@media (max-width: 768px) {
  :root {
    --cover-size: 300px;
  }
}

@media (max-width: 480px) {
  :root {
    --cover-size: 240px;
  }
}
